<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title>SumComics</title>

  <!-- Bootstrap core, IE10 viewport hack, and custom styles-->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <link href="/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet">
  <script src="/bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>


  <style>

    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

  </style>

</head>

<!-- Bootstrap core JavaScript and IE10 viewport hack-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js"></script>

<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-heart"></span> DimSumSquad</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/comics">Browse</a></li>
          <li><a href="/about">About</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search" method="get" action="/search">
          <div class="form-group" >
            <input type="text" class="form-control" placeholder="Search" name="query">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>


        
        <ul class="nav navbar-nav navbar-right">
          <% if (!user) { %>
          <li><a href="/signup">Sign Up</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 20px; padding-bottom: 15px;">
              <!-- Login form here-->
              <form action="/login" method="post" accept-charset="UTF-8">
                <input class="form-control" id="username" style="margin-bottom: 15px;" type="text" name="username" size="30" placeholder="Username">
                <input class="form-control" id="password" style="margin-bottom: 15px;" type="password" name="password" size="30" placeholder="Password">
                <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="remember_me" value="1" />
                <label class="string optional" for="user_remember_me"> Remember me</label>

                <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
              </form>
            </div>
            <% } else { %>
            <li><a href="/profile">Welcome, <%= user.local.username %>!</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/logout">Log Out</a></li>
            <% } %>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container">
      <div class="well">

        <div class="row">
          <div class="col-lg-12">
            <h3><small><a href="/comics/<%=comic._id%>"><%= comic.title %></a> &raquo; Chapter <%= chapter.chapter %></small></h3>
          </div>
        </div>

        <br>

        <div class="row" align="center">
          <div class="col-lg-8 col-lg-offset-2" style="padding-left:0px">
            <div class="row">
              <a class="btn btn-success btn-sm
                <% if (!user || !user.local.contributor) { %> disabled <% } %>
                " data-toggle="modal" data-target="#uploadImage">Add a panel</a>
              &nbsp;
              <a class="btn btn-danger btn-sm
                <% if (!user || user.local.username != comic.creatorID) { %> disabled <% } %>
                " data-toggle="modal" data-target="#deleteChapter">Delete chapter</a>
              &nbsp;
  
              <div class="btn-group">

                <a class="btn btn-default btn-sm
                  <% if (panel == 1 || !valid) { %> disabled <% } %>
                  " href="/comics/<%=comic._id%>/chapters/<%=chapter._id%>/<%= parseInt(panel) - 1 %>"><span class="glyphicon glyphicon-triangle-left"></span></a>

                <div class="btn-group">
                  <a href="#" class="btn btn-default btn-sm dropdown-toggle
                    <% if (chapter.images.length == 0) { %> disabled <% } %>
                    " href="/comics/<%=comic._id%>/chapters/<%=chapter._id%>/<%= parseInt(panel) + 1 %>" data-toggle="dropdown" aria-expanded="false">
                    <%=panel%>&nbsp;
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" style="width:0%">
                    <%
                    for (i = 0; i < chapter.images.length; i++) {
                    %>
                      <li><a href="/comics/<%=comic._id%>/chapters/<%=chapter._id%>/<%= i + 1 %>"><%= i + 1 %></a></li>
                    <%
                    }
                    %>
                   </ul>
                </div>

                <a class="btn btn-default btn-sm
                  <% if (panel == chapter.images.length || !valid) { %> disabled <% } %>
                  " href="/comics/<%=comic._id%>/chapters/<%=chapter._id%>/<%= parseInt(panel) + 1 %>"><span class="glyphicon glyphicon-triangle-right"></span></a>

              </div>
            </div>
          </div>
        </div>

        <br>
        <div class="row" align="center">
          <%
            if (valid && chapter.images.length > 0) { 
          %>
            <% if (panel == chapter.images.length) { %>
              <img src="/gridfile/<%=imagePath%>" alt="">
            <% } else { %>
              <a href="/comics/<%=comic._id%>/chapters/<%=chapter._id%>/<%= parseInt(panel) + 1 %>"><img src="/gridfile/<%=imagePath%>" alt=""></a>
            <% } %>
          <%
          } else if (chapter.images.length == 0) {
          %>
            <img src="/app_images/generic_panel.png" alt="">
          <%
          } else {
          %>
            <img src="/app_images/generic_panel_error.png" alt="">
          <%
          }
          %>
        </div>
      </div>
    </div>
  </div>


<!-- IMAGE UPLOAD MODAL -->
<div id="uploadImage" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- MODAL HEADER -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Panel</h4>
      </div>

      <!-- MODAL BODY -->
      <div class="modal-body" style="text-align:center">
        <fieldset>
          <div class="form-group">
            <form id="addPanelForm"
            enctype   =  "multipart/form-data"
            action    =  "/comics/<%=comic._id%>/chapters/<%=chapter._id%>/addpanel"
            method    =  "post">
              <input type="file" name="userPhoto" id="userPhoto" class="inputfile"/>
              <label id="uploadlabel" for="userPhoto" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-file"></span>Choose a file</label>
              <br></br>
              <button class="btn btn-default" id="addPanelSubmitButton" onclick="buttonSubmitClicked(event)">Upload</button>
            </form>
          </div>

        </fieldset>
      </div>

    </div>
  </div>
</div>

<!-- DELETE CHAPTER MODAL -->
<div id="deleteChapter" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- MODAL HEADER -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Chapter</h4>
      </div>

      <!-- MODAL BODY -->
      <div class="modal-body" style="text-align:center">
        Are you sure you want to delete this chapter? <br><br>
        <form method="post" action="<%= '/deletechapter/' + chapter._id %>">
          <button type="button" class="btn btn-default" data-dismiss="modal">No, take me back</button>
          &nbsp;
          <button class="btn btn-danger" type="submit">Yes</button>
        </form>
      </div>

    </div>
  </div>
</div>

<script>
    function buttonSubmitClicked(event) {
      var uploadForm = document.getElementById("userPhoto").value;

      if (!uploadForm) {
        event.preventDefault();
        alert("Please choose a file!");
      } else {
        document.getElementById("addPanelSubmitButton").disabled = true;
        document.getElementById("addPanelForm").submit();
      }
    }

    document.getElementById("userPhoto").onchange = function () {
      document.getElementById("uploadlabel").innerHTML = '<span class="glyphicon glyphicon-ok"></span> ' + this.value.split( '\\' ).pop();
    }
</script>

</body>
</html>