<!DOCTYPE html>
<html lang="en" ng-app="comicController">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title>SumComics</title>

  <!-- Bootstrap core, IE10 viewport hack, and custom styles-->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <link href="/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet">
  <script src="/bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>


  <style>

    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

  </style>

</head>

<!-- Bootstrap core JavaScript and IE10 viewport hack-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js"></script>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="/js/controllers/comic.js"></script> <!-- load up our controller -->

<body ng-controller = "toggleController">

<!-- Facebook script-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-heart"></span> DimSumSquad</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/comics">Browse</a></li>
          <li><a href="/about">About</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search" method="get" action="/search">
          <div class="form-group" >
            <input type="text" class="form-control" placeholder="Search" name="query">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>


        
        <ul class="nav navbar-nav navbar-right">
          <% if (!user) { %>
          <li><a href="/signup">Sign Up</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 20px; padding-bottom: 15px;">
              <!-- Login form here-->
              <form action="/login" method="post" accept-charset="UTF-8">
                <input class="form-control" id="username" style="margin-bottom: 15px;" type="text" name="email" size="30" placeholder="Username">
                <input class="form-control" id="password" style="margin-bottom: 15px;" type="password" name="password" size="30" placeholder="Password">
                <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="remember_me" value="1" />
                <label class="string optional" for="user_remember_me"> Remember me</label>

                <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
              </form>
            </div>
            <% } else { %>
            <li><a href="/profile">Welcome, <%= user.local.username %>!</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/logout">Log Out</a></li>
            <% } %>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container">
      <div class="well">

        <%
        if (comic.coverphoto) {
          if ((user) && (user.local.username == comic.creatorID)) { 
          %>
            <a href data-toggle="modal" data-target="#changecover">
          <%
          }
          %>
              <img src="<%= '/gridfile/' + comic.coverphoto %>" alt="" style="width:200px;height:200px" 
                <% if ((user) && (user.local.username == comic.creatorID)) { %> data-toggle="tooltip" title="Change Cover Photo" data-placement="right" <% } %>
              >
          <% 
          if ((user) && (user.local.username == comic.creatorID)) { 
          %>
            </a>
          <%
          }
          %>
        <%
        } else {
        %>
          <% 
          if ((user) && (user.local.username == comic.creatorID)) { 
          %>
            <a href data-toggle="modal" data-target="#changecover">
          <%
          }
          %>
              <img src="/app_images/generic_comic.png" alt="" style="width:200px;height:200px"
                <% if ((user) && (user.local.username == comic.creatorID)) { %> data-toggle="tooltip" title="Add Cover Photo" data-placement="right" <% } %>
              >
          <% 
          if ((user) && (user.local.username == comic.creatorID)) { 
          %>
            </a>
          <%
          }
        }
        %>

        <br><br>

        <%
        var monthNames = [
          "Jan", "Feb", "Mar", 
          "Apr", "May", "Jun", 
          "Jul", "Aug", "Sep", 
          "Oct", "Nov", "Dec"
        ];
        var day = comic.dateCreated.getDate();
        var monthIndex = comic.dateCreated.getMonth();
        var year = comic.dateCreated.getFullYear();
        %>

        <div>
          <strong>Title:</strong><br> <%= comic.title %><br><br>
          <strong>Description:</strong> <br><%- comic.description.replace(/\r\n/g, '<br>') %> <br><br>
          <strong>Tags:</strong> <br>
          <%
          var tagsArray = comic.tags.split(',');
          for (i = 0; i < tagsArray.length; i++) {
          %>
            <a href="/search/?query=<%=tagsArray[i]%>" style="text-decoration:none;">
              <span class="label label-primary">
                <%= tagsArray[i] %>
              </span>
            </a>
            &nbsp;
          <%
          }
          %> 
          <br><br>
          <strong>Creator:</strong><br><a href="/profile/<%= comic.creatorID %>"><%= comic.creatorID %></a> <br><br>
          <strong>Date Created:</strong><br> <%= monthNames[monthIndex] + ' ' + day + ', ' + year %></a> <br><br>

          <% if ((user) && (user.local.username == comic.creatorID)) { %>
          <button class="btn btn-primary" data-toggle="modal" data-target="#editinfo">Edit</button>
          <% } %>
        </div>
        <br> 

        <!-- DELETE COMIC BUTTON only shows up if you are creator of that comic -->
        <% if ((user) && (user.local.username == comic.creatorID)) { %>
        <!-- comic from user's comics list-->
        <form method="post" action="<%= '/deletecomic/' + comic._id %>">
          <button class="btn btn-primary" type="submit">Delete Comic</button>
        </form>
        <br>
        <% } %>


        <%
        if (user) {
          var favourited = false; 
          for (i = 0; i < user.local.favourites.length; i++) {
            if (user.local.favourites[i] == comic._id){
              favourited = true;
            }
          } 
        }
        %>

        <% 
        if (user) {
          if (favourited == false) { 
        %>
            <form action="<%= '/addfavourite/' + comic._id %>" method="post" enctype="application/x-www-form-urlencoded" id="fav">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-heart-empty"></span></button>
            </form>
        <% 
          } else { 
        %>
            <form action="<%= '/removefavourite/' + comic._id %>" method="post" enctype="application/x-www-form-urlencoded" id="fav">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-heart" style="color:red"></span></button>
            </form>
        <% 
          } 
        } 
        %>

        <br>

        <small style="font-weight: bold"><span class="glyphicon glyphicon-heart"></span> <%= comic.favourites %> favourites</small>

        <br>
        <br>
        

        <!-- CANNOT CONTRIBUTE TO YOUR OWN COMIC ???? ask team-->

        <% 
        if ((user) && (user.local.contributor == true)) { 
        %>
          <a class="btn btn-danger" data-toggle="modal" data-target="#addchapter">Add a chapter</a>
        <% 
        } 
        %>
        <hr>

        <% 
        for (i = 0; i < comic.images.length; i += 6) {  
        %> 
          <div class="row">
            <% 
            for (k = i; k < i + 6; k++) { 
              if (k < comic.images.length) { 
            %>
                <div class="col-md-2">
                <a href="<%= '/gridfile/' + comic.images[k] %>" class="thumbnail">
                  <img src="<%= '/gridfile/' + comic.images[k] %>" alt="" style="width:150px;height:150px">
                </a>
                </div>
            <% 
              }
            }
            %>
          </div>
        <% 
        } 
        %>

        <!-- SHARE ON TWITTER -->
        <div class="row">
        <div class="block"><a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this awesome comic on SumComics!" data-via="dimsumsquad" data-size="regular" data-hashtags="sumcomics,dimsumsquad" data-dnt="true">Tweet</a></div>
        <script>
        !function(d,s,id){
          var js,fjs = d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';

          if(!d.getElementById(id)){
            js=d.createElement(s);
            js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js,fjs);
          }}(document, 'script', 'twitter-wjs'); 
        </script>
      

        <!-- SHARE ON FACEBOOK -->
        <div class="block"><div class="fb-share-button" data-layout="button"></div></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="well" style='padding: 20px'>


      <strong>Comments: </strong>
      <br>
      <br>
      <% for (i = 0; i < comic.comments.length; i++) {  %> 
      <div class="row" style='padding: 20px; border:1px solid #bbb; background:white; vertical-align:middle '>
        <% var currentuser;
        for (j = 0; j < users.length; j++) {
          if (users[j].local.username == comic.comments[i].user) {
            currentuser = users[j];
          }
        } %>
        <div class="col-lg-1">
          <% if (currentuser.local.picture) { %>
          <img src="/uploads/<%=currentuser.local.picture%>" alt="Profile picture" style="width:50px;height:50px"> 
          <% } else { %>
          <img src="/app_images/generic_picture.png" alt="Generic" style="width:50px;height:50px"> 
          <% } %>
        </div>
        <div class="col-lg-4">
          <strong> <%= comic.comments[i].user %></strong> <br><br>
        </div>
      </div>
      <div class="row" style='padding: 20px; border:1px solid #bbb; background:white'>
        <p><%= comic.comments[i].comment %></p>
      </div>
      <br>
      <% } %>

      <% if (user) { %>
      <form id  =  "commentForm"
      enctype   =  "application/x-www-form-urlencoded"
      action    =  "/comment"
      method    =  "post">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="3" id="comment" name="comment" style="resize: none"></textarea>
      <input type="hidden" name="comic_id" id="comic_id" value= <%= comic._id %> >
      <input class="btn btn-primary" style='background: indigo; border-color: indigo' type="submit" id="submit" value="Comment!" name="submit" ng-click="toggleComment()">
    </div>
  </form>
    <% } %>

</div>
</div>

</div>
</div>

<!-- IMAGE UPLOAD MODAL -->
<div id="addchapter" class="modal fade" role="dialog">
  <div class="modal-dialog modal-med">
    <div class="modal-content">

      <!-- MODAL HEADER -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create chapter</h4>
      </div>

      <!-- MODAL BODY -->
      <div class="modal-body" style="text-align:center">
        <fieldset>
          <div class="form-group">
            <form id        =  "contribute"
            enctype   =  "multipart/form-data"
            action    =  "/comics/<%=comic._id%>/addpanel"
            method    =  "post">
              Title: <input type="text" style="width:80%" name="chaptertitle" id="chaptertitle" placeholder="Name the chapter"><br>
              Note: <input type="text" style="width:80%" name="chapterinfo" id="chapterinfo" placeholder="What's happening? What should people add? etc."><br><br>
              Add your first panel:<br>
              <input type="file" name="userPhoto" id="userPhoto" class="inputfile"/>
              <label id="uploadlabel" for="userPhoto" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-file"></span>Choose a file</label>
              <br></br>
              <input class="btn btn-default" type="submit" id="submit" value="Create" name="submit" onclick="buttonSubmitClicked(event)">

            </form>
          </div>

        </fieldset>
      </div>

    </div>
  </div>
</div>

<!-- CHANGE COVER PHOTO MODAL -->
<div id="changecover" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- MODAL HEADER -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Cover Photo</h4>
      </div>

      <!-- MODAL BODY -->
      <div class="modal-body" style="text-align:center">
        <fieldset>
          <div class="form-group">
            <form id        =  "uploadForm"
            enctype   =  "multipart/form-data"
            action    =  "/comics/<%=comic._id%>/changecover"
            method    =  "post"
            >
            <input type="file" name="userPhoto" id="changeCoverInput" class="inputfile"/>
            <label id="changeCoverLabel" for="changeCoverInput" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-file"></span> Choose a file</label>
            <br></br>
            <input class="btn btn-default" type="submit" value="Upload" name="submit" onclick="changeCoverClicked(event)">
            </form>
          </div>

        </fieldset>
      </div>

    </div>
  </div>
</div>

<!-- EDIT INFO MODAL -->
<div id="editinfo" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">

      <!-- MODAL HEADER -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Comic Info</h4>
      </div>

      <!-- MODAL BODY -->
      <div class="modal-body" style="text-align:left">
        <fieldset>
          <div class="form-group">
            <form method="post" action="/comics/<%=comic._id%>">
              <strong>Title:</strong>
              <input type="text" class="form-control" value="<%= comic.title %>" name="title">
              <br>

              <strong>Description:</strong>
              <textarea rows="3" class="form-control" name="description" style="resize: none"><%= comic.description %></textarea>
              <br>

              <strong>Tags:</strong>
              <input type="text" class="form-control" value="<%= comic.tags %>" name="tags" data-role="tagsinput" data->
              <br><br>

              <input class="btn btn-primary" type="submit" value="Save Changes">
            </form>
          </div>

        </fieldset>
      </div>

    </div>
  </div>
</div>


<script>
    function buttonSubmitClicked(event) {
      var uploadForm = document.getElementById("userPhoto").value;

      if (!uploadForm) {
        event.preventDefault();
        alert("Please choose a file!");
      }
    }

    function changeCoverClicked(event) {
      var uploadForm = document.getElementById("changeCoverInput").value;

      if (!uploadForm) {
        event.preventDefault();
        alert("Please choose a file!");
      }
    }

    document.getElementById("userPhoto").onchange = function () {
      document.getElementById("uploadlabel").innerHTML = '<span class="glyphicon glyphicon-ok"></span> ' + this.value.split( '\\' ).pop();
    }

    document.getElementById("changeCoverInput").onchange = function () {
      document.getElementById("changeCoverLabel").innerHTML = '<span class="glyphicon glyphicon-ok"></span> ' + this.value.split( '\\' ).pop();
    }

    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });

</script>

  <script src="../bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
  <script src="../bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>

</body>
</html>