<!DOCTYPE html>
<html lang="en" ng-app="comicController">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title>SumComics</title>

  <!-- Bootstrap core, IE10 viewport hack, and custom styles-->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <script src="/bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>

  <script>
    window.onload = function () {
      //console.log("here");
      // alert("here");
      var user_id = <% user._id %>;
        // alert(user_id);
        var favourited = user.local.favourites.includes(comics[index]._id);
        // alert(favourited);
        // console.log("running script");
        // console.log(favourited);
          // alert(favourited);
        };
      
  </script>

</head>

<!-- Bootstrap core JavaScript and IE10 viewport hack-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js"></script>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="/js/controllers/comic.js"></script> <!-- load up our controller -->

<body ng-controller = "toggleController">

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-heart"></span> DimSumSquad</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/comics">Browse</a></li>
          <li><a href="#">About</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search" method="get" action="/search">
          <div class="form-group" >
            <input type="text" class="form-control" placeholder="Search" name="query">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>


        
        <ul class="nav navbar-nav navbar-right">
          <% if (!user) { %>
          <li><a href="/signup">Sign Up</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 20px; padding-bottom: 15px;">
              <!-- Login form here-->
              <form action="/login" method="post" accept-charset="UTF-8">
                <input id="username" style="margin-bottom: 15px;" type="text" name="email" size="30" placeholder="Username">
                <input id="password" style="margin-bottom: 15px;" type="password" name="password" size="30" placeholder="Password">
                <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="remember_me" value="1" />
                <label class="string optional" for="user_remember_me"> Remember me</label>

                <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
              </form>
            </div>
            <% } else { %>
            <li><a href="/profile">Welcome, <%= user.local.username %>!</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/logout">Log Out</a></li>
            <% } %>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container">
      <div class="well">

        <% 
        var index;
        for (i = 0; i < comics.length; i++) {
          if (String(id) == String(comics[i]._id)) {
            index = i;
          }
        }
        %>

        <div ng-hide="editToggle">
          <strong>Title:</strong><br> <%= comics[index].title %><br><br>
          <strong>Description:</strong> <br><%= comics[index].description %> <br><br>
          <strong>Tags:</strong> <br> <%= comics[index].tags %> <br><br>
          <strong>Creator:</strong><br><a href="/profile/<%= comics[index].creatorID %>"><%= comics[index].creatorID %></a> <br><br>

          <% if ((user) && (user.local.username == comics[index].creatorID)) { %>
          <button class="btn btn-primary" ng-click="toggleEdit()">Edit Comic</button>
          <% } %>
        </div>
        <form ng-show="editToggle" method="post" action="/comics/<%=comics[index]._id%>">
          <strong>Title:</strong>
          <input type="text" class="form-control" id="editTitle" value="<%= comics[index].title %>" name="title">
          <strong>Description:</strong>
          <input type="text" class="form-control" id="editDescription" value="<%= comics[index].description %>" name="description">
          <strong>Tags:</strong>
          <input type="text" class="form-control" id="editTags" value="<%= comics[index].tags %>" name="tags"><br>
          <input ng-show="editToggle" class="btn btn-primary" type="submit" ng-click="toggleEdit()" value="Save Changes">  
          <!-- <button class="btn btn-primary" ng-show="editToggle" ng-click="toggleEdit()">Cancel</button>--> 
        </form>
        <br> 

        <!-- DELETE COMIC BUTTON only shows up if you are creator of that comic -->
        <% if ((user) && (user.local.username == comics[index].creatorID)) { %>
        <!-- comic from user's comics list-->
        <form method="post" action="<%= '/deletecomic/' + comics[index]._id %>">
          <button class="btn btn-primary" type="submit">Delete Comic</button>
        </form>
        <br>
        <% } %>


      <% if (user) {
          var favourited = false; 
          for (i = 0; i < user.local.favourites.length; i++){
            if (user.local.favourites[i] == comics[index]._id){
              favourited = true;
              }
              }
            %>
          <!-- just for testing-->
          <h1><%= favourited %></h1>
         <% } %>

        <strong>Favourites:</strong>
        <%= comics[index].favourites %>
        <% if (user && favourited == false) { %>
        <form action="/favourite" method="post" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="comic_id" id="comic_id" value= <%= comics[index]._id %> >
          <input type="hidden" name="comic_favourites" id="comic_favourites" value= <%= comics[index].favourites %>>
          <input type="hidden" name="temp_user" id="temp_user" value= <%= user._id %>>
          <input class="btn btn-success btn-med" value="Favourite" type="submit">
        </form>
        <% } else { %>
        <form action="/unfavourite" method="post" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="comic_id" id="comic_id" value= <%= comics[index]._id %> >
          <input type="hidden" name="comic_favourites" id="comic_favourites" value= <%= comics[index].favourites %>>
          <input type="hidden" name="temp_user" id="temp_user" value= <%= user._id %>>
          <input class="btn btn-success btn-med" value="Unfavourite" type="submit">
        </form>
        <% } %>

          

        <br>
        <!-- CANNOT CONTRIBUTE TO YOUR OWN COMIC ???? ask team-->

        <% if ((user) && (user.local.contributor == true)) { %>
          <a class="btn btn-danger" data-toggle="modal" data-target="#addpanel">Add a panel</a>
        <% } %>
        <hr>

        <% for (i = 0; i < comics[index].images.length; i += 6) {  %> 
        <div class="row">
          <% for (k = i; k < i + 6; k++) { 
            if (k < comics[index].images.length) { %>
            <div class="col-md-2">
              <a href="<%= '/gridfile/' + comics[index].images[k] %>" class="thumbnail">
                <img src="<%= '/gridfile/' + comics[index].images[k] %>" alt="" style="width:150px;height:150px">
              </a>
              <!-- WANT TO GET THE CURRENT IMAGE AND GET THE CREATOR OF THAT IMAGE -->
            </div>
            <% } %>
            <% } %>
          </div>
          <% } %>


          <!-- LIKE <3 BUTTON -->

<!--    <div class="like button" type="submit">
        <body ng-app="userController" ng-controller="comicController">
        <a href="#" class="btn btn-success btn-med">
        <span class="glyphicon glyphicon-heart"></span>
            <a ng-click="like()" ng-init= "numberOfLikes=0">
            <p> Likes: {{ numberOfLikes }} </p>
            </a>
        </body>
        </a>
      </div> -->
    </div>
  </div>

  <div class="container">
    <div class="well" style='padding: 20px'>


      <strong>Comments: </strong>
      <br>
      <br>
      <% for (i = 0; i < comics[index].comments.length; i++) {  %> 
      <div class="row" style='padding: 20px; border:1px solid #bbb; background:white; vertical-align:middle '>
        <% var currentuser;
        for (j = 0; j < users.length; j++) {
          if (users[j].local.username == comics[index].comments[i].user) {
            currentuser = users[j];
          }
        } %>
        <div class="col-lg-1">
          <% if (currentuser.local.picture) { %>
          <img src="/uploads/<%=currentuser.local.picture%>" alt="Profile picture" style="width:50px;height:50px"> 
          <% } else { %>
          <img src="/app_images/generic_picture.png" alt="Generic" style="width:50px;height:50px"> 
          <% } %>
        </div>
        <div class="col-lg-4">
          <strong> <%= comics[index].comments[i].user %></strong> <br><br>
        </div>
      </div>
      <div class="row" style='padding: 20px; border:1px solid #bbb; background:white'>
        <p><%= comics[index].comments[i].comment %></p>
      </div>
      <br>
      <% } %>

      <% if (user) { %>
      <form id  =  "commentForm"
      enctype   =  "application/x-www-form-urlencoded"
      action    =  "/comment"
      method    =  "post">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>
      <input type="hidden" name="comic_id" id="comic_id" value= <%= comics[index]._id %> >
      <input class="btn btn-primary" style='background: indigo; border-color: indigo' type="submit" id="submit" value="Comment!" name="submit" ng-click="toggleComment()">
    </div>
  </form>
    <% } %>

</div>
</div>



</div>
</div>

<div id="addpanel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Comic Panel</h4>
      </div>
      <div class="modal-body">
            <fieldset>
              <div class="form-group">
                <form id        =  "contribute"
                enctype   =  "multipart/form-data"
                action    =  "/comics/<%=comics[index]._id%>/addpanel"
                method    =  "post">
​
                <input type="file" name="userPhoto" id="userPhoto"/> 
                <br></br>
                <input class="btn btn-primary" type="submit" id="submit" value="Upload" name="submit" onclick="buttonSubmitClicked(event)">
                </form>
              </div>
          </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
    function buttonSubmitClicked(event) {

        if (!document.getElementById("userPhoto").value) {
            event.preventDefault();
            alert("Please choose a file!");
        }
    }
</script>

</body>
</html>