<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title>SumComics</title>

  <!-- Bootstrap core, IE10 viewport hack, and custom styles-->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <script src="/bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>
</head>

<body>

<!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="/js/controllers/notifications.js"></script> <!-- load up our controller -->
  <script src="/js/core.js"></script> <!-- load our main application -->

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./"><span class="glyphicon glyphicon-heart"></span> DimSumSquad</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/comics">Browse</a></li>
          <li><a href="/about">About</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search" method="get" action="/search">
          <div class="form-group" >
            <input type="text" class="form-control" placeholder="Search" name="query">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>


        
        <ul class="nav navbar-nav navbar-right">
        <% if (!user) { %>
            <li><a href="/signup">Sign Up</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 20px; padding-bottom: 15px;">
              <!-- Login form here-->
              <form action="/login" method="post" accept-charset="UTF-8">
                <input class="form-control" id="username" style="margin-bottom: 15px;" type="text" name="username" size="30" placeholder="Username">
                <input class="form-control" id="password" style="margin-bottom: 15px;" type="password" name="password" size="30" placeholder="Password">
                <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="remember_me" value="1" />
                <label class="string optional" for="user_remember_me"> Remember me</label>

                <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
              </form>
            </div>
        <% } else { %>
            <li><a href="/profile">Welcome, <%= user.local.username %>!</a></li>
            <li class="divider-vertical"></li>
          
          <!--  NOTIFICATIONS -->
            <li>  
            <div class="dropdown" ng-app="notificationsController" ng-contoller="toggleNotifications" ng-init="checkUnread()">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style='padding:10px'>

              <!--  CHANGES ICON -->

              <!-- <div ng-show="exists_unread">
              <span class="glyphicon glyphicon-envelope" style="color:red"></span>
              </div>
              <div ng-show="!exists_unread">
              <span class="glyphicon glyphicon-envelope" style="color:purple"></span>
              </div> -->

              <span class="glyphicon glyphicon-envelope" style="color:purple"></span>



              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Notifications</li>
        
                <% for (i = user.local.notifications.length - 1; i >=0; i--){ %>
                    <li class="divider"></li>
                    <!--  GETS THE PROFILE PICTURE -->
                    <div class="row">
                    <% var currentuser;
                      for (j = 0; j < users.length; j++) {
                        if (users[j].local.username == user.local.notifications[i].acting_username) {
                        currentuser = users[j];
                        }
                      } %>

                      <% if (currentuser.local.picture) { %>
                      <div class="col-sm-3">
                      <img src="/gridfile/<%=currentuser.local.picture%>" alt="Profile picture" style="width:50px;height:50px"> 
                      </div>
                      <% } else { %>
                      <div class="col-sm-3">
                      <img src="/app_images/generic_picture.png" alt="Generic" style="width:50px;height:50px"> 
                      </div>
                      <% } %>

                    <!--  "You got followed!" EVENT -->
                    <% if (user.local.notifications[i].acting_event == "following"){ %>
                    <div class="col-sm-6">
                    <div class="container" style='display: inline-block'>
                    <li><a href="/profile/<%= user.local.notifications[i].acting_username %>" ><%= user.local.notifications[i].acting_username %></a> followed you!</li>
                    </div>
                    </div>
                    <% } %>

                    <!--  "Someone you follow created a new comic!" EVENT -->
                    <% if (user.local.notifications[i].acting_event == "created"){ %>
                    <div class="col-sm-6">
                    <div class="container" style='display: inline-block'>
                    <li><a href="/profile/<%= user.local.notifications[i].acting_username %>"><%= user.local.notifications[i].acting_username %></a> created a new <a href="/comics/<%= user.local.notifications[i].acting_comic_id %>" >comic</a>!</li>
                    </div>
                    </div>
                    <% } %>

                    </div>

                 <% } %>
              </ul>
            </div>
        </li>
        <li class="divider-vertical"></li>
            <li><a href="/logout">Log Out</a></li>
        <% } %>
        </ul>
        


          <!--<ul class="nav navbar-nav navbar-right">
            <li><a href="#">Default</a></li>
            <li class="active"><a href="#">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Fixed top</a></li>
          </ul>-->
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">

    <div class="jumbotron text-center">
        <h2>Welcome!</h2>
        <% if (!user) { %>
            <a href="/login" class="btn btn-primary btn-lg">Log In</a>
            <a href="/signup" class="btn btn-warning btn-lg"><span class="fa fa-user"></span> Sign Up</a>
            <a href="/top-contributors" class="btn btn-success btn-lg"><span class="fa fa-user"></span>Top Contributors</a>
            <!--
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
            <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
            -->
        <% } else { %>
            <p>You are logged in as: <b><%= user.local.username %></b></p>
            <% if (user.local.contributor) { %>
              <a href="/create-comic" class="btn btn-primary btn-lg"><span class="fa fa-user"></span> Create a Comic</a>
              <!-- <a href="/upload" class="btn btn-danger"><span class="fa fa-user"></span> Upload</a> -->
            <% } %>
            <a href="/top-contributors" class="btn btn-success btn-lg"><span class="fa fa-user"></span>Top Contributors</a>
        <% } %>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size:140%;"><span class="glyphicon glyphicon-fire"></span>&nbsp;Hot Comics</h3>
      </div>
      <% 
      // 1 view gives 1 point
      // 1 favourite gives 10 points
      var rankedComics = comics.sort(function(a, b) {
        return (b.views + (10 * b.favourites)) - (a.views + (10 * a.favourites));
      });
      %>
      <div class="panel-body">
        <br>
        <%
        for (i = 0; i < 6; i++) {
          if (i < rankedComics.length) {
            var comicScore = rankedComics[i].views + (2 * rankedComics[i].comments.length) + (10 * rankedComics[i].favourites);
        %>
            <div class="col-md-2" align="center">
              <% if (rankedComics[i].coverphoto) { %>
                <a href="/comics/<%= rankedComics[i]._id %>" class="thumbnail">
                  <img src="<%= '/gridfile/' + rankedComics[i].coverphoto %>" alt="" style="width:150px;height:150px">
                </a>
              <% } else { %>
                <a href="/comics/<%= rankedComics[i]._id %>" class="thumbnail">
                  <img src="app_images/generic_comic.png" alt="" style="width:150px;height:150px">
                </a>
              <% } %>
              <strong><%= rankedComics[i].title %></strong> <br>
              <small>By <a href="/profile/<%= rankedComics[i].creatorID %>"><%= rankedComics[i].creatorID %></a></small><br>
              <small style="font-weight: bold"><span class="glyphicon glyphicon-fire"></span>&nbsp; <%= comicScore %></small>
            </div>
        <%
          }
        }
        %>
      </div>
    </div>


    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size:140%;"><span class="glyphicon glyphicon-time"></span>&nbsp;Most Recent Comics</h3>
      </div>
      <% 
      var timedComics = comics.sort(function(a, b) {
        return b.dateCreated - a.dateCreated;
      });
      var monthNames = [
        "Jan", "Feb", "Mar", 
        "Apr", "May", "Jun", 
        "Jul", "Aug", "Sep", 
        "Oct", "Nov", "Dec"
      ];
      %>
      <div class="panel-body">
        <br>
        <%
        for (i = 0; i < 6; i++) {
          if (i < timedComics.length) {
            var day = timedComics[i].dateCreated.getDate();
            var monthIndex = timedComics[i].dateCreated.getMonth();
            var year = timedComics[i].dateCreated.getFullYear();
        %>
            <div class="col-md-2" align="center">
              <% if (timedComics[i].coverphoto) { %>
                <a href="/comics/<%= timedComics[i]._id %>" class="thumbnail">
                  <img src="<%= '/gridfile/' + timedComics[i].coverphoto %>" alt="" style="width:150px;height:150px">
                </a>
              <% } else { %>
                <a href="/comics/<%= timedComics[i]._id %>" class="thumbnail">
                  <img src="app_images/generic_comic.png" alt="" style="width:150px;height:150px">
                </a>
              <% } %>
              <strong><%= timedComics[i].title %></strong> <br>
              <small>By <a href="/profile/<%= timedComics[i].creatorID %>"><%= timedComics[i].creatorID %></a></small><br>
              <small style="font-weight: bold"><span class="glyphicon glyphicon-time"></span>&nbsp; <%= monthNames[monthIndex] + ' ' + day + ', ' + year %></small>
            </div>
        <%
          }
        }
        %>
      </div>
    </div>

    <!-- Bootstrap core JavaScript and IE10 viewport hack-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html>
