<!DOCTYPE html>
<html lang="en" ng-app="profileController" ng-cloak>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title>SumComics</title>

  <!-- Bootstrap core, IE10 viewport hack, and custom styles-->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <link href="/bootstrap/custom/custom.css" rel="stylesheet"> <!-- CUSTOM CSS FOR THIS PAGE ONLY - MICHAEL -->

  <script src="/bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="/js/controllers/profile.js"></script> <!-- load up our controller -->


  <!-- ng cloak -->
  <style>
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  </style>

</head>

<body ng-controller = "toggleController">

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./"><span class="glyphicon glyphicon-heart"></span> DimSumSquad</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/comics">Browse</a></li>
          <li><a href="/about">About</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search" method="get" action="/search">
          <div class="form-group" >
            <input type="text" class="form-control" placeholder="Search" name="query">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <% if (!user) { %>
          <li><a href="/signup">Sign Up</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 20px; padding-bottom: 15px;">
              <!-- Login form here-->
              <form action="/login" method="post" accept-charset="UTF-8">
                <input class="form-control" id="username" style="margin-bottom: 15px;" type="text" name="username" size="30" placeholder="Username">
                <input class="form-control" id="password" style="margin-bottom: 15px;" type="password" name="password" size="30" placeholder="Password">
                <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="remember_me" value="1" />
                <label class="string optional" for="user_remember_me"> Remember me</label>

                <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
              </form>
            </div>
            <% } else { %>
            <li><a href="/profile">Welcome, <%= user.local.username %>!</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/logout">Log Out</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- PROFILE BODY CONTENT -->
    <div class="container">
      <div class="well">
        <h1>My Profile</h1>
        <hr>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#account" data-toggle="tab" aria-expanded="true">Account</a></li>
          <li class=""><a href="#favourites" data-toggle="tab" aria-expanded="false">Favourites</a></li>
          <li class=""><a href="#comics" data-toggle="tab" aria-expanded="false">Comics</a></li>
        </ul>
        <br>

        <div id="myTabContent" class="tab-content">

          <!-- ACCOUNT TAB -->
          <div class="tab-pane fade active in" id="account">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h1 class="panel-title"><span class="glyphicon glyphicon-user"></span> Local Account</h1>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-md-offset-3" style="text-align:center">
                    <% if (user.local.picture) {%>
                    <img src="/gridfile/<%=user.local.picture%>" alt="Profile picture" style="width:150px;height:150px"> 
                    <br>
                    <a href data-toggle="modal" data-target="#upload_picture"><small>Change profile picture</small></a>
                    <br>
                    <a href="/removeprofilepic"><small>Remove profile picture</small></a>
                    <% } else { %>
                    <img src="app_images/generic_picture.png" alt="Generic" style="max-width:50%;max-height:50%"> 
                    <br>
                    <a href data-toggle="modal" data-target="#upload_picture"><small>Upload profile picture</small></a>
                    <% } %>

                  </div>
                  <div class="col-md-6">
                      <strong>Username</strong>: <%= user.local.username %><br>
                      <strong>Email</strong>: <%= user.local.email %><br>
                      <strong>Birthday</strong>: <%= user.local.birthday %><br>
                      <strong>Description</strong>: <%= user.local.description %><br>
                      <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editinfo">Edit Profile</button>
                      <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteaccount">Delete Account</button><br>
            
                      
                    <%  if (user.local.contributor) { %>
                    <span class="label label-success">You are a contributor!</span><br>
                    <%  } else { %>
                    <a href="/contribute" class="btn btn-success"><span class="fa fa-user"></span> Become a Contributor</a><br>
                    <%  } %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- FAVOURITES TAB -->
          <div class="tab-pane fade" id="favourites">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h1 class="panel-title"><span class="glyphicon glyphicon-star"></span> My Favourites</h1>
              </div>
              <div class="panel-body">
                <% for (i = 0; i < user.local.favourites.length; i += 6) { %>
                <div class="row">
                  <%  
                  for (j = i; j < i + 6; j++) { 
                    if (j < user.local.favourites.length) {
                      var comic_id;
                      var comic_title;
                      var comic_coverphoto;
                      for (k = 0; k < comics.length; k++) {
                        if (String(user.local.favourites[j]) == String(comics[k]._id)) {
                          comic_id = comics[k]._id;
                          comic_title = comics[k].title;
                          comic_coverphoto = comics[k].coverphoto;
                        }
                      } %>

                      <div class="col-md-2" align="center">
                        <%
                        if (comic_coverphoto) {
                        %>
                          <a href="/comics/<%= comic_id %>" class="thumbnail">
                            <img src="/gridfile/<%= comic_coverphoto %>" alt="" style="width:150px;height:150px">
                          </a>
                        <%
                        } else {
                        %>
                          <a href="/comics/<%= comic_id %>" class="thumbnail">
                            <img src="app_images/generic_comic.png" alt="" style="width:150px;height:150px">
                          </a>
                        <%
                        }
                        %>
                        <strong><%= comic_title %></strong>
                      </div>
                  <%  
                    }
                  }
                  %>
                </div>
                <%
                } 
                %>
              </div>
            </div>
          </div>

          <!-- COMICS TAB -->
          <div class="tab-pane fade" id="comics">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h1 class="panel-title"><span class="glyphicon glyphicon-cloud-upload"></span> My Comics</h1>
              </div>
              <!-- Displays comics -->
              <!-- MODIFY: change hyperlink depending on the comic book which the images belongs to-->
              <div class="panel-body">
                <%  for (i = 0; i < user.local.comics.length; i += 6) { %>
                <div class="row">
                  <%  for (j = i; j < i + 6; j++) {
                    if (j < user.local.comics.length) {
                      var comic_id;
                      var comic_title;
                      var comic_coverphoto;
                      for (k = 0; k < comics.length; k++) {
                        if (String(user.local.comics[j]) == comics[k]._id) {
                          comic_id = comics[k]._id;
                          comic_title = comics[k].title;
                          comic_coverphoto = comics[k].coverphoto;
                        }
                      } %>
                      <div class="col-md-2" align="center">
                        <%
                        if (comic_coverphoto) {
                        %>
                          <a href="/comics/<%= comic_id %>" class="thumbnail">
                            <img src="/gridfile/<%= comic_coverphoto %>" alt="" style="width:150px;height:150px">
                          </a>
                        <%
                        } else {
                        %>
                          <a href="/comics/<%= comic_id %>" class="thumbnail">
                            <img src="app_images/generic_comic.png" alt="" style="width:150px;height:150px">
                          </a>
                        <%
                        }
                        %>
                        <strong><%= comic_title %></strong>
                      </div>
                      <% } %>
                    <%  } %>
                </div>
                <hr>
                <%  } %>
                <a href="/create-comic"> Start something new?</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- END PROFILE BODY CONTENT -->

<!-- UPLOAD PICTURE MODAL -->
<div id="upload_picture" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- MODAL HEADER -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Profile Picture</h4>
      </div>

      <!-- MODAL BODY -->
      <div class="modal-body" style="text-align:center">
        <fieldset>
          <div class="form-group">
            <form id        =  "uploadImageForm"
            enctype   =  "multipart/form-data"
            action    =  "/uploadprofilepic"
            method    =  "post">
            ​
            <input type="file" name="userPhoto" id="userPhoto" class="inputfile"/>
            <label id="uploadlabel" for="userPhoto" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-file"></span> Choose a file</label>
            <br></br>
            <input class="btn btn-default" type="submit" id="submit" value="Upload" name="submit" onclick="buttonSubmitClicked(event)">

            </form>
          </div>
        </fieldset>
      </div>

    </div>
  </div>
</div>


<!-- CHANGE PROFILE INFO MODAL -->
<div id="editinfo" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">

      <!-- MODAL HEADER -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>

      <!-- MODAL BODY -->
      <div class="modal-body" style="text-align:left">
        <fieldset>
          <div class="form-group">
            <form method="post" action="profile">
               <strong>Username</strong>: <%= user.local.username %><br><br>
               <strong>Email</strong>:<input type="email" class="form-control" id="editEmail" placeholder="Email" name="email" value = <%= user.local.email %> ><br>
               <strong>Birthday</strong>:<input type="date" class="form-control" id="editBirthday" name="birthday" value= <%= user.local.birthday %> ><br>
               <strong>Description</strong>:<textarea rows="3" class="form-control" name="description" style="resize: none" id="editDescription" placeholder="Description"><%= user.local.description %></textarea><br>
              <input class="btn btn-primary" type="submit" value="Save Changes"> 
              </form>
          </div>

        </fieldset>
      </div>

    </div>
  </div>
</div>


<!-- DELETE ACCOUNT MODAL -->
<div id="deleteaccount" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- MODAL HEADER -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Account</h4>
      </div>

      <!-- MODAL BODY -->
      <div class="modal-body" style="text-align:center">
        Are you sure you want to delete your account? <br><br>
        <form method="get" action="deleteaccount">
          <button type="button" class="btn btn-default" data-dismiss="modal">No, take me back!</button>
          &nbsp;
          <button class="btn btn-danger" type="submit">Yes</button>
        </form>
      </div>

    </div>
  </div>
</div>

<script>
    function buttonSubmitClicked(event) {
      if (!document.getElementById("userPhoto").value) {
          event.preventDefault();
          alert("Please choose a file!");
      }
    }

    document.getElementById("userPhoto").onchange = function () {
      document.getElementById("uploadlabel").innerHTML = '<span class="glyphicon glyphicon-ok"></span> ' + this.value.split( '\\' ).pop();
    }
</script>

    <!-- Bootstrap core JavaScript and IE10 viewport hack-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html>
